<!DOCTYPE html>
<html>

<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="root">
    <header>
        <div id="logo">Teapot</div>
        <a href="#" class="button" id="registration">Регистрация</a>
        <a href="#" class="button" id="login">Вход</a>
    </header>
    <main>
        <h2>Вход</h2>
        <div class="form">
            <form>

                <label for="email">E-mail адрес</label>
                <input type="text" id="email" name="email" placeholder="Your email">


                <label for="password">Пароль</label>
                <input type="text" id="password" name="password" placeholder="Your password">


                <input type="submit" value="Вход">

            </form>
        </div>


    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</div>
</body>

</html>