* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #d9d8d9;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    height: 100vh;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

header {
    background-color: #3e3f3f;
    height: 7vh;
    width: 100%;
    min-width: 1200px;
    position: relative;
}

main {
    background: #d9d8d9;
    height: 88vh;
    position: relative;
}

.main-head {
    height: 8%;
}

.wrapper {
    background: #f0f0f0;
    width: 98%;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    /* Параметры тени */
}

footer {
    text-align: center;
    height: 5vh;
}

/*header divs*/

#logo {
    width: 15%;
    color: #1dc45f;
    font-size: 30pt;
    margin-right: 5%;
    margin-left: 10px;
    display: inline-block;
}

#logo,
#organizations,
#kanbans {
    float: left;
}

#notifications {
    position: absolute;
    right: 15%;
}

#username {
    position: absolute;
    right: 0;
    width: 15%;
}

.button {
    padding-top: 15px;
    width: 10%;
    text-decoration: none;
    color: #a3a1a1;
    text-align: center;
    display: inline-block;
    height: 100%;
}

.button:hover {
    background: #393a3a;
}

/*main-head*/

.main-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.kanban-name,
.team {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.kanban-name {
    margin-left: 15px;
    width: 40%;
}

.kanban-name {
    color: rgba(32, 160, 18, 0.62);
}

.kanban {
    font-size: 20pt;
}

.host {
    display: inline;
}

.team {
    position: absolute;
    right: 2%;
    top: 40%;
}

.fa-users {
    font-size: 30px;
}

/*main-head end*/

/*cards*/

.lists {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% - 3px), 0);
    overflow-x: auto;
    overflow-y: auto;
}

.list {
    height: 98%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
    flex-basis: 19%;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: auto;
    transform: translate(0, 1%);
    position: relative;
    display: block;
    border-radius: 3px;
}

/*card content*/

.list-header {
    
    text-align: center;
   min-height: 15px;
}

.card-wrapper {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-52%, 5px);
}

.card-content {
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
    margin-top: 10px;
    min-height: 100px;
    position: relative;
    border-radius: 5px;
    padding: 2% 2% 2% 2%;
}

.card-content h3,
.card-content p {
    margin-left: 5px;
}

.card-name {
    color: #1dc45f;
}

.lock {
    position: absolute;
    left: 130px;
    top: -10px;
}

.list .add-new {
    transform: translate(0, -2px);
}

#add-list {
    border-right: solid 2px #c0c0c0;
}

.add {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #b4b4b4;
    font-size: 12pt;
}

.add p:first-child {
    font-size: 40pt;
}

.add:hover {
    transition: ease-in-out 0.15s;
    color: #8a8a8a;
    cursor: pointer;
}

/*footer*/

footer p {
    margin-top: 1%;
}

.fas {
    font-size: 18pt;
    color: #9d9d9d;
}

.fa-users {
    font-size: 40px;
}

.fa-users:hover {
    cursor: pointer;
    transition: ease-in-out 0.15s;
    color: #8a8a8a;
}

#username {
    cursor: pointer;
    text-decoration: none;
}

#username a {
    text-decoration: none;
    color: #a3a1a1;
    text-align: center;
}

.submenu {
    position: absolute;
    width: 85%;
    z-index: 99;
    right: 6%;
    top: 75%;
    display: none;
    list-style: none;
    color: #a3a1a1;
    background: #3e3f3f;
    transition: all 0.3s ease;  
}

li {
    text-align: center;
    height: 40px;
}
li:hover{
    background: #393a3a;
}
#username:hover>.submenu {
    display: block;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.404); 
    border-radius: 10px;
    background-color: #f0f0f0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #9b9b9b;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }